/* body {
    background-image: url("../back.jpg");
    background-position: left top;
    background-size:100% 100%;
} */

body{
  
    background:linear-gradient(135deg, #030d61 0%,#0482a1 48%,#572eaa 100%);
}
div {
    opacity:1;
}
p
{
    color:	#FFF8DC;
}
SignUpForm
{
    color:#DCDCDC;
}
strong
{
    margin-top:150px;
    margin-left:300px;
    padding:1em;
    border-left:1px solid gray;
    overflow: hidden;
    color:#E0FFFF;
}
Login
{
    color:#FDF5E6;
}
.landing-top
{
    padding: 1em;
    color: white;
    clear: left;
    text-align: center;
    background:linear-gradient(135deg, #3b3b3d 0%,#212425 48%,#697070 100%)
}
.landing-left {
    float: left;
    max-width: 260px;
    margin-left: 20px;
    padding: 1em;
    font-family:"Comic Sans MS";
}
.landing-right {
    margin-left: 300px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    margin-top: 20px;
    background:linear-gradient(135deg, #020836 0%,#054453 48%,#572eaa 100%);
}

.landing-page-comp{
    z-index: 5
}